@model Opgave_2.Models.Word

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
</head>
<body>
    <div>
        <h1>The string have @Model.input.Length characters</h1>
    </div>
</body>
</html>
