@model Opgave_2.Models.Word

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <p>What is the string?: @Html.TextBoxFor(x => x.input) </p>

        <input type="submit" value="Submit" />

    }
</body>
</html>
