@model Opgave_8.Models.Propss

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Next</title>
</head>
<body>
    <div>
        <h1> @Model.People people with @Model.Pizza pizzas  </h1>
        <h1> Each person gets @Model.each pizza slices each  </h1>
        <h1> They are @Model.left leftovers. </h1>
    </div>
</body>
</html>
