@model Opgave_7.Models.Propertiess

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Next</title>
</head>
<body>
    <div>
        <h1> You entered dimensions of @Model.Length feet by @Model.Width feet.  </h1>
        <h1> The area is  </h1>
        <h1> @Model.SquareFeet square feet and @Model.SquareMeters feet. </h1>
    </div>
</body>
</html>
