@model Opgave_4.Models.Words

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Next</title>
</head>
<body>
    <div>
        <h1> Do you @Model.Verb your @Model.Adjective @Model.Noun @Model.Adverb? Thats hilarious! :D </h1>
    </div>
</body>
</html>
